.App {
  margin: auto;
  padding: 0;
  /* width: 34.375rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  /* height: 4.06rem; */
  padding: 1.25rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  align-items: center;
  width: inherit;
}
.header--img {
  width: 2.81rem;
  /* height: 100%; */
}
.header h1 {
  font-size: 1.25rem;
  font-weight: 700;
  /* linespacing: -0.1em; */
  margin-right: auto;
  margin-left: 0.44rem;
}
.header p {
  font-size: 0.75rem;
  font-weight: 500;
}


main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px auto/ 1fr 1fr;
  gap: 17px;
}
.form--input{
  font-family: "Karla", sans-serif;
  padding: 10px 11px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
}
.form--input:focus{
  border:2px solid #672280;
}
.form--button {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.meme--image{
  grid-column: 1 / -1;
  margin: auto;
  max-width: 100%;
  border: 2px groove #711F8D;
  border-radius: 5px;
  box-shadow: 3px 3px 4px rgba(140, 0, 255, 0.473),
              -3px -3px 4px rgba(33, 0, 48, 0.466);
}